/WeCheater-GUI/build-WeCheater-Desktop_Qt_5_14_2_MinGW_64_bit-Debug
/GateServer/.vs
/GateServer/GateServer
/GateServer/x64
/GateServer/GateServer.vcxproj.user
/VarifyServer/node_modules
/StatusServer/.vs
/StatusServer/StatusServer
/StatusServer/x64
/StatusServer/StatusServer.vcxproj.user
/ChatServer/.vs
/ChatServer/ChatServer
/ChatServer/x64
/ChatServer/ChatServer.vcxproj.user
